.about {
    &-wrapper {

        // & .about-item:not(:nth-child(1)) {
        //     position: relative;
        //     margin-top: -100px;
        // }
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include breakpoint(992px) {
            flex-direction: column;
            margin-bottom: 30px;

            & .about-photo {
                order: 1;
                margin-bottom: 20px;
            }

            & .about-text {
                order: 2;
                padding: 0 20px;
            }
        }

        // & .about-photo {
        //     order: 1;
        // }
    }
}

.about-content {
    flex: 0 0 55%;
    padding: 0 50px 0 0;
}

.about-title {
    margin-bottom: 10px;
}

.about-text {
    &__right {
        padding-left: 50px;
        padding-right: 0;
    }

}

.about-photo {
    flex: 0 0 45%;
    padding: 0px;
}