.php-email-form {
    display: flex;
    flex-direction: column;
}

.form-control {
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid black;
    background-color: #fff;
    border-radius: 0;

    &:focus {
        box-shadow: none;
    }
}

textarea.form-control {
    max-height: 150px;
    height: 100px;
    min-height: 50px;
}

button.form-control {
    border-bottom: none;
}