.back-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    border: 2px solid #000;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}

.back-to-top:hover {
    text-decoration: underline;
    color: crimson;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}